#tools{
    width:100%;
    display:inline-block;
}


#icons{
    width:100%;
    display:inline-block;
}

#fileoptions{
    margin-top:10px;
    width:100%;
    display:inline-block;
}

#utility{
    width:35%;
    display:inline-block;
    vertical-align:top;
    padding:10px;
}
#map_main{
    width:60%;
    display:inline-block;
    vertical-align:top;
    margin-top:20px;
}

.cell{
    border:1px solid #eee;
    display:inline-block;
    box-sizing:border-box;
    background-size:cover;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.Left{
    border-left:2px solid #000;
    width:
}
.Right{
    border-right:2px solid #000;
}
.Top{
    border-top:2px solid #000;
}
.Bottom{
    border-bottom:2px solid #000;
}
.Painted{
    background-color:#a9f0a9
}

.tool{
    width:60px;
    height:60px;
    display:inline-block;
}
.tool img{
    width:100%;
}
.selected{
    background-color:#ffa1a0
}
.UpStair{
    background-image:url("./assets/UpStair.png")
}
.DownStair{
    background-image:url("./assets/DownStair.png")
}
.Door{
    background-image:url("./assets/Door.png")
}

.Curtain{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:49;
    background-color:rgba(0,0,0,0.3);
}
.Window{
    position:absolute;
    top:30%;
    left:40%;
    width:394px;
    z-index:50;
    padding: 25px 25px 20px;
    background-color:#fff;
    border:1px solid #000;
}
.Data{
    overflow:scroll;
    overflow-wrap:anywhere;
    height:100px;
    margin:10px;
}
